.Avatar {
    border: 2px solid blue;
    height: 20vh;
    padding: 10px;
    width: 20vh;
    margin: 2vh;
    transition: 1s;
    border-radius: 50%;
  }
  
  .Avatar .img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .Avatar:hover {
    transform: scale(1.25) rotate(15deg);
  }
  