.playBorder{
     
    border: 8px solid #ffffff;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    .play{
    
        
        margin-top: 75px;
        margin-left: 90px;
        width: 148px;
        height: 148px;
        border-style: solid;
        border-width: 74px;
        border-color: #202020;
        box-sizing: border-box;
        border-width: 74px 0px 74px 148px;
        border-color: #7B4F78 #7B4F78 #7B4F78 #ffffff;
    }
}
