body{
    background-color: #7B4F78;
    
}
.banner{
    position: fixed;
    z-index: -1;
}
.App{
    position: absolute;
    size: 50%;
    width: 100%;
    height: 100%;
    flex: display;
    justify-content: center;
}
.logOut{
    font-size: 25px;
    width: 100px;
    height: 25px;
    margin-top: 30px;
    margin-left: 100px;
    padding: 15px;
    text-decoration: none;
    background-color: #0AA24E;
    border-radius: 50px;
    color: white;    
}
.left-side{
    position: absolute;
    width: 50%;
    padding: 100px;
}
.avatarPic{
    padding-bottom: 50px;
    padding-left: 50px;
}
.right-side{

    width: 100%;
    .rankTitle{
        color: white;
        width: 75%;
        display: flex;
        flex-direction: row-reverse;
    }
}